* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	background-color: #cee5d0;

	h1 {
		color: #94b49f;
		text-align: center;
		margin: 60px;
	}

	.container {
		background-color: #fcf8e8;
		color: #94b49f;
		display: flex;
		flex-direction: column;
		width: 70%;
		max-width: 800px;
		align-items: center;
		margin: 100px auto;
		text-align: center;
		border-radius: 10px;
		box-shadow: 0px 0px 33px 0px #94b49f;
		padding: 0px 20px 40px 20px;

		#addTodo {
			display: flex;
			flex-direction: column;
			padding: 20px;
			border-radius: 10px;
			width: 100%;
			align-items: center;

			.user {
				width: 100%;
				display: flex;
				justify-content: space-between;

				p {
					margin: 30px;

					span {
						font-weight: 600;
					}

					a {
						text-decoration: none;
						color: #94b49f;
						font-weight: 600;
					}
				}
			}

			input {
				width: 70%;
				line-height: 30px;
				border: 1px solid #ecb390;
				border-radius: 5px;
				padding: 10px;
				font-size: 20px;
				margin-bottom: 20px;
				min-width: 160px;
				color: #94b49f;

				&::placeholder {
					color: #ecb390;
				}
			}

			button {
				line-height: 30px;
				border: 1px solid #ecb390;
				border-radius: 5px;
				padding: 10px;
				font-size: 20px;
				background-color: #ecb390;
				color: #fcf8e8;
				font-weight: 600;
			}
		}

		#todoList {
			color: #94b49f;
			width: 100%;

			.todoDiv {
				padding: 10px;
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid #cee5d0;

				.checkBox {
					margin-right: 20px;
				}

				.todoText {
					font-weight: 600;
					margin-right: auto;
					text-align: left;
				}
				.btnDiv {
					display: flex;
					align-items: center;
					margin-left: 10px;

					.deleteBtn,
					.editBtn {
						background-color: #ecb390;
						color: #fcf8e8;
						border: 1px solid #ecb390;
						border-radius: 3px;
						margin-right: 5px;
						padding: 0px 5px;
					}
					.favIcon {
						color: #ecb390;
					}
				}
			}
		}
	}
}
